<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>

      <li>
        <a id='home-nav-link' href="/tanzu-buildpacks/index.html"><%= vars.product_full %></a>
      </li>

     <li class="has_submenu">
        <span><strong>Node.js</strong></span>
          <ul>
            <li>
              <a href="/tanzu-buildpacks/nodejs/nodejs-buildpack.html">Using the Tanzu Node.js Buildpack</a>
           </li>
           <li>
              <a href="/tanzu-buildpacks/nodejs/nodejs-migration.html">Migrating to the Tanzu Node.js Buildpack</a>
           </li>
          </ul>
       </li>

      <li class="has_submenu">
        <span><strong>Go</strong></span>
          <ul>
            <li>
              <a href="/tanzu-buildpacks/go/go-buildpack.html">Using the Tanzu Go Buildpack</a>
           </li>
          </ul>
       </li>
      </li>

      <li class="has_submenu">
        <span><strong>PHP</strong></span>
          <ul>
            <li>
              <a href="/tanzu-buildpacks/php/php-buildpack.html">Using the Tanzu PHP Buildpack</a>
           </li>
           <li>
              <a href="/tanzu-buildpacks/php/php-migration.html">Migrating to the Tanzu PHP Buildpack</a>
           </li>
          </ul>
       </li>
      </li>

      <li class="has_submenu">
        <span><strong>NGINX</strong></span>
          <ul>
            <li>
              <a href="/tanzu-buildpacks/nginx/nginx-buildpack.html">Using the Tanzu NGINX Buildpack</a>
           </li>
          </ul>
       </li>
      </li>

      <li class="has_submenu">
        <span><strong>.NET Core</strong></span>
          <ul>
            <li>
              <a href="/tanzu-buildpacks/dotnet-core/dotnet-core-buildpack.html">Using the Tanzu .NET Core Buildpack</a>
           </li>
          </ul>
       </li>
      </li>

      <li class="has_submenu">
        <span><strong>Release Notes</strong></span>
          <ul>
            <li class="has_submenu">
              <span><strong>Language Families</strong></span>
              <ul>
                <li>
                  <a href="/tanzu-buildpacks/go/release-notes.html">Go</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/tanzu-java-release-notes.html">Java</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/tanzu-java-azure-release-notes.html">Java Azure</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/tanzu-java-native-image-release-notes.html">Java Native Image</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/dotnet-core/release-notes.html">.NET Core</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/nodejs/release-notes.html">Node.js</a>
                </li>
              </ul>
            </li>
            <li class="has_submenu">
              <span><strong>Implementation Buildpacks</strong></span>
              <ul>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/tanzu-apache-skywalking-release-notes.html">Apache Skywalking</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/apache-tomcat-release-notes.html">Apache Tomcat</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/tanzu-appdynamics-release-notes.html">AppDynamics</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/tanzu-aspectj-release-notes.html">AspectJ</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/azul-zulu-release-notes.html">Azul Zulu</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/azure-application-insights-release-notes.html">Azure Application Insights</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/bellsoft-liberica-release-notes.html">Bellsoft Liberica</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/tanzu-checkmarx-release-notes.html">Checkmarx</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/tanzu-contrast-security-release-notes.html">Contrast Security</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/debug-release-notes.html">Debug</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/dist-zip-release-notes.html">DistZIP</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/tanzu-dynatrace-release-notes.html">Dynatrace</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/tanzu-elastic-apm-release-notes.html">Elastic APM</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/encrypt-at-rest-release-notes.html">Encrypt-at-Rest</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/environment-variables-release-notes.html">Environment Variables</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/executable-jar-release-notes.html">Executable JAR</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/google-stackdriver-release-notes.html">Google Stackdriver</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/graalvm-release-notes.html">GraalVM</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/gradle-release-notes.html">Gradle</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/image-labels-release-notes.html">Image Labels</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/tanzu-jacoco-release-notes.html">JaCoCo</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/jmx-release-notes.html">JMX</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/tanzu-jprofiler-release-notes.html">JProfiler</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/tanzu-jrebel-release-notes.html">JRebel</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/leiningen-release-notes.html">Leiningen</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/maven-release-notes.html">Maven</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/tanzu-new-relic-release-notes.html">New Relic</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/tanzu-overops-release-notes.html">OverOps</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/procfile-release-notes.html">Procfile</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/sbt-release-notes.html">SBT</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/tanzu-snyk-release-notes.html">Snyk</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/spring-boot-release-notes.html">Spring Boot</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/spring-boot-native-image-release-notes.html">Spring Boot Native Image</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/tanzu-synopsys-release-notes.html">Synopsys</a>
                </li>
                <li>
                  <a href="/tanzu-buildpacks/release-notes/tanzu-yourkit-release-notes.html">YourKit</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a id='home-nav-link' href="/tanzu-buildpacks/stacks.html">Stacks</a>
        </li>
        <li>
          <a id='home-nav-link' href="/tanzu-buildpacks/faq.html">Frequently Asked Questions</a>
        </li>
      </li>
    </ul>

  </div>
</div><!--end of sub-nav-->
